@import 'vars.styl'

.name
  margin 0
  text-align center
  text-transform uppercase
  font-size 34px
  max-width 300px
  margin-left 15px !important
  padding 22.5px 20px 20px 20px
.description
  width 70%
  min-width 300px
  padding 25px
  margin-top 12px !important
.about
  background-color rgba(0,0,0,.5)
  display inline-block
  margin 10px
  color #FFF
  position relative
  clear both
  z-index	1000
.background-image-container
  position absolute
  width 100%
  z-index -10000
  top 0
	.background-images
	  width 20%
	  height 100vh
	  transform rotate(25deg)
	  float left
	  display inline-block