@import 'vars.styl'

.name
  margin 0
  text-align center
  text-transform uppercase
  font-size 34px
  max-width 300px
  margin-left 15px !important
  padding 22.5px 20px 20px 20px
.description
  width 70%
  min-width 300px
  padding 25px
  margin-top 12px !important
.about
  background-color rgba(0,0,0,.5)
  display inline-block
  margin 10px
  color #FFF
  position relative
  clear both
  z-index	1000
.background-image-container
  position absolute
  width 100%
  overflow hidden
  z-index -10000
  top 0
	.background-images
	  width 20%
	  height 100vh
	  transform rotate(25deg)
	  float left
	  display inline-block
  .active
    animation active .5s forwards
    position fixed
    top 0
    z-index 1000
    width 100% !important
    left 0
    height 100vh
    .background-images
      animation picture-rotate .5s forwards, picture-grow .75s forwards, picture-height .5s forwards
      background-size contain !important
      float none
      display block
      margin-left auto
      margin-right auto
  .inactive
    .background-images
      animation slide-down .5s forwards
  .in-between
    position fixed
    top 0
    left 0
    height 100vh
    width 100%
    z-index 1000
    animation inactive .5s forwards
    .background-images
      animation picture-slide-out .5s ease-out forwards
      margin-left auto
      margin-right auto
      float none
      background-size cover !important
      display block