@import 'vars.styl'

.dashboard-container
  width 85%
  margin 0 auto
  min-width 300px
  .dashboard-title
    text-transform uppercase
  .dashboard-table
    width 100%
    tr
      border 1px solid $gray