@import 'vars.styl'

#at-pwd-form
  width 60%
  margin 0 auto
  .at-input
    margin 0 auto 15px auto
    label
      display block
    input
      width 100%
      border-top none
      border-right none
      border-left none
      border-bottom 1px solid $gray
      background-color #fff
      height 35px
      font-size 18px
      padding: 19px 0 0 0
      text-transform uppercase
  button
    margin 0 auto
    background-color #fff
    display block
    border 1px solid #000
    -webkit-appearance none
    color #000
    margin-top 10px
    text-transform uppercase
    height 35px
    width 100%
.at-signup-link
  width 60%
  margin 0 auto
.at-signin-link
  width 60%
  margin 0 auto

#updateProjectForm
  .form-group
    label
      display block
      font-weight 700
      margin 0 0 5px 0
    input
      display block
      margin 0 0 15px 0
      width 80%
    textarea
      width 80%
      resize none
      border 1px solid $gray
    button
      background-color #fff
      display block
      border 1px solid $gray
      -webkit-appearance none
      color #000
      margin-top 10px
      text-transform uppercase
      height 35px
      width 80%
  .panel
    ul
      padding 0
    li
      list-style-type none

@media screen and (max-width 300px)
  #at-pwd-form
    width 100%